#background{
    background-image: url("../Images/SP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    width:100%;
    height:550px;
}   

img,video {
    border: thick silver solid; /*Border effect for picture*/
    box-shadow: 0 25px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}
  

th, td {
  font-family: Verdana,Geneva,Tahoma,sans-serif;
  border: 1px solid grey;
  background-color: #fff;
}

  
.column {
  display: none; /* Hide columns by default */
  align-items: center;
  justify-content: center;
  float: left;
  }
  
  /* The "show" class is added to the filtered elements */
.shown {
  display: block;
    
}
  
  /* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
  
}

/* Add a dark background color to the active button */
.btn.active {
  background-color:white;
}
  
  /* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}
  


video{
    width: 100%;
    height:100%;
}
@media only screen and (min-width: 1200px){
  .shown {
    display: inline-flex;
      
  }
}
@media only screen and (max-width:768px){
  #background{
    background-position: right top;
    width:100%;
    height:350px;
  }
} 

/* background colours for the different rows */
#DAAA_reason{
  background-color:rgb(139, 121, 163);
}

#new_environment{
  
  background-color:#aa88a6
}

#dayinSP,#timetable,#coping{
  background-color:rgb(153, 111, 147);
}


#moments,#ammenities_1,#ammenities_2,#shenanigans_1,#shenanigans_2{
  background-color:rgb(139, 121, 163);
}
