.row img{
    border: thick rgb(61, 57, 57) solid;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
/* allow for text padding making it seem more compact */
.content p,h1,h2{
    padding: 0 3em 0 3rem;    
  }

#coding_knowledge{
    display:none;
}
/* background colors for the different rows */

#SecondarySchool{
    background-color:rgb(139, 121, 163);
}

#Commitments{
    background-color:rgb(131, 97, 126);
    
}

#achievements{
    background-color:#aa88a6;   
    
}
/* to create display effect */
#more,#more2,#more3{
    display:none;
}

#CodingJourney{
    background-color:rgb(139, 121, 163);    
    
}


#school{
    height:auto;
    width:750px;
}


