@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
h1 a{

    text-decoration: none;
    color:white;
}

/* to create typewriter */

.typewrite{
    font-size:1.6em;
    font-family: 'Anonymous Pro', monospace;
    color:black;  
    
}
.typewrite:hover{
    color:black;
}
/* header for the image at the top */
header{
    background-size:cover;
    height:500px;
    width:100%;
}
header h1{
    padding-top:100px;
}


html{
    scroll-behavior: smooth;
}

.content p,h1,h2{
    padding: 0 3em 0 3rem;    
  }

figcaption{
    font-size:2em;
    margin:10px;
}
/* to center the div*/
#redirect {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: bold;
    padding: 5px 25px;
    text-decoration:none

}

#title{
    width: 50%;
    margin: 0 auto;  
}
/* to prevent scrolling past the anchor due to the nav bar taking up a part of the screen */

/* background colours for the different rows */
#About_me,#basic_info{
    margin-top:-50px;
    padding-top:50px;
    background-color:rgb(139, 121, 163);
    
}

#personality{
    background-color:rgb(153, 111, 147);
    
}

#interests,#hobbies{
    background-color:#aa88a6;
}


#link{
    font-size: 20px;
    padding: 5px 25px;
    color:black;
}
/* to maximise the space for the picture */
#MBTI{
    width:100%;
    height:auto;
    border: thick silver solid;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#me,#chess,#vgames,#volleyball{
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thick silver solid; /*Border effect for picture*/
    box-shadow: 0 25px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
  }

#figurecaption{
    color: #4693d1;
}